{
  "XM_PR": 0.8,
  "NOT_XM_PR": 0.1,
  "RND_REPEAT_PR": 0.02,
  "RND_XM_PR": 0.02,
  "KW_REPEAT_PR": 1,
  "MIN_MSG_INVL": 5,
  "MAX_RND_RE_LEN": 20,
  "MAX_RND_XM_LEN": 16,
  "SLEEP_TIME": 0,
  "CLOSE_PR": 0.4,
  "ADMIN": [123456],
  "ALLOW_GROUP": [1415926535],
  "MEMTION_GROUP": [1415926535],
  "REPOST_GROUP": [1415926535]
}